body{
  background-color: #0C093C;
}
h1 {
  font-size: 7rem;
  color: #df42d1;
  text-align: center;
  font-family: 'Mansalva', cursive;
  margin-top: 30px;
}

#result {
  color:#df42d1;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-family: 'Mansalva', cursive;
}

.container {
  margin-top: 40px;
}

.col-md-6 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

h3{
  font-size: 3.5rem;
  font-weight: bold;
  color: #df42d1;
}

.img1 {
  width: 150px;
  margin: 30px;
}

.img2 {
  width: 150px;
  margin: 30px;
}

.btn {
  display: block;
  margin: auto;
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
  background-color: #df42d1;
  font-weight: bold;
  color: white;
}

footer {
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #df42d1;
  font-family: 'Indie Flower', cursive;
}

